body {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

/* ------------------------   Grid Layout for 1st Page  ----------------------*/

  /*------------ Mobile Stack -----------*/
#choose-container {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 500px min-content 120px 40px 120px 40px;*/
    grid-template-rows: auto;
    grid-template-areas:
      "big-image"
      "instructions"
      "form-position"
      "form-year"
      "form-week"
      "select-button"
      "."
      "form-playerOne"
      "form-playerTwo"
      "."
      "compare-button"
      ".";
    /*grid-gap: 10px;*/
  }

  .big-image {
    height: 200px;
    max-width: 100%;
    background-image: linear-gradient(
        rgba(0, 85, 15, 0.5),
        rgba(0, 85, 15, 0.5)
      ),
    url('../images/heinzfield.jpg');
    text-align: center;
  }

  .big-image h1 {
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: auto;
    padding-top: 25%;
    /*position: fixed;
    top: 25%;
    left: 22%;*/
    font-size: 5vw;
  }

/*------------  Laptop / Desktop  -----------*/
@media only screen and (min-device-width: 750px) {
  #choose-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px min-content 120px 40px 120px 40px;
    /*grid-template-rows: auto;*/
    grid-template-areas:
      "big-image big-image big-image"
      "instructions instructions instructions"
      "form-position form-year form-week"
      ". select-button ."
      "form-playerOne . form-playerTwo"
      ". compare-button .";
    /*grid-gap: 10px;*/
  }

  .big-image {
    height: 500px;
    max-width: 100%;
    background-image: linear-gradient(
        rgba(0, 85, 15, 0.5),
        rgba(0, 85, 15, 0.5)
      ),
    url('../images/heinzfield.jpg');
    text-align: center;
  }

  .big-image h1 {
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: auto;
    padding-top: 15%;
    /*position: fixed;
    top: 25%;
    left: 22%;*/
    font-size: 4.5rem;
  }
}

.big-image {
  grid-area: big-image;
}

.instructions {
  grid-area: instructions;
}

.form-position {
  grid-area: form-position;
  /*justify-self: center;*/
  padding-left: 50px;
  align-self: center;
}

.form-year {
  grid-area: form-year;
  align-self: center;
}

.form-week {
  grid-area: form-week;
  padding-right: 50px;
  align-self: center;
}

.select-button {
  grid-area: select-button;
  justify-self: center;
  align-self: center;
}

.form-playerOne {
  grid-area: form-playerOne;
}

.form-playerTwo {
  grid-area: form-playerTwo;
}

.compare-button {
  grid-area: compare-button;
}

.select-button button {
  height: 50px;
  width: 100px;
  font-size: 2em;
}

/* ------------------------   Grid Layout for Comparison Popup ----------------------*/

/*------------ Mobile Stack -----------*/
.compare {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    grid-template-columns: 1fr;
    /*grid-gap: 10px;*/
  }

.masthead {
  grid-row: 1;
  grid-column: 1;
}

#close {
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

.player-one-info {
  grid-row: 3;
  grid-column: 1;
}

.playerOne-bio {
  grid-row: 4;
  grid-column: 1;
}

.player-one-stats {
  grid-row: 5;
  grid-column: 1;
}

#playerOne-logo {
  grid-row: 5;
  grid-column: 1;
  opacity: 0.20;
}

.player-two-info {
  grid-row: 6;
  grid-column: 1;
}

.playerTwo-bio {
  grid-row: 7;
  grid-column: 1;
}

.player-two-stats {
  grid-row: 8;
  grid-column: 1;
}

#playerTwo-logo {
  grid-row: 8;
  grid-column: 1;
  opacity: 0.20;
}



/*------------  Laptop / Desktop  -----------*/
@media only screen and (min-device-width: 750px) {
  .compare {
    display: grid;
    grid-template-rows: 50px 220px min-content;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-gap: 10px;
  }

  .masthead {
    grid-row: 1;
    grid-column: 1 / span 4;
    background-color: #009933;
  }

  #close {
    grid-row: 1;
    grid-column: 4;
    font-size: 1.5em;
    color: #999;
    cursor: pointer;
    justify-self: center;
    align-self: center;
  }

  .player-one-info {
    grid-row: 2;
    grid-column: 1;
    margin-left: 3%;
    height: 200px;
    width: 200px;
    /*border: 1px solid black;*/
    justify-self: center;
  }

  .playerOne-bio {
    grid-row: 2;
    grid-column: 2;
    margin-left: 3%;
    justify-self: start;
  }

  .player-two-info {
    grid-row: 2;
    grid-column: 3;
    height: 200px;
    width: 200px;
    /*border: 1px solid black;*/
    justify-self: center;
  }

  .playerTwo-bio {
    grid-row: 2;
    grid-column: 4;
    justify-self: start;
  }

  .player-one-stats {
    grid-row: 3;
    grid-column: 1 / span 2;
    justify-self: center;
  }

  #playerOne-logo {
    grid-row: 3;
    grid-column: 1 / span 2;
    justify-self: center;
    opacity: 0.20;
  }

  .player-two-stats {
    grid-row: 3;
    grid-column: 3 / span 2;
    justify-self: center;
  }

  #playerTwo-logo {
    grid-row: 3;
    grid-column: 3 / span 2;
    justify-self: center;
    opacity: 0.20;
  }

}

/* ----------------------------------------------------------------------------- */

.player-one-info, .player-two-info {
  border: 1px solid black;
}

.highlight {
  background-color: yellow;
  /*background-image: url('../images/checkmark.svg');
  height: 3em;
  width: 3em;*/
}

#playerOne-stat-display ul li,
#playerTwo-stat-display ul li {
  text-decoration: none;
  font-size: 1.5em;

}

#close button {
  height: 40px;
  width: 140px;
}



/*button {
  height: 40px;
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  background: yellow;
  color: black;
  cursor: pointer;
}
*/
